body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #5e4dcd;
  font-style: bold;
}

.result {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 20px;
}

.input-group {
  align-items: center;
}

.suggestions {
  cursor: pointer;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
  border-color: #3898ec;
  outline: none;
}
